<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<div th:replace="parts/styleAndOther :: head"></div>
<title>Registration</title>
</head>
<header>
	<div th:replace="parts/header :: header"></div>
</header>
<body>

	<h1>Registration</h1>
	<form th:action = "@{/registration}" th:object = "${user}" method = "post">
		<div>
			<br/>
			<label for="name">First name*</label>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></span>
			<br/>
			<input type="text" id="name" th:field="*{name}" placeholder="Enter fist name" class="form-control" />
		</div>
		<div>
			<br/>
			<label for="last">Last name</label>
			<br/>
			<input type="text" id="last" th:field="*{last}" placeholder="Enter last name" class="form-control" />
		</div>
		<div>
			<br/>
			<label for="email">Email*</label>
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></span>
			<br/>
			<input type="email" id="email" th:field="*{email}" placeholder="Enter email" class="form-control" />
		</div>
		<div>
			<br/>
			<label for="password">Password* (at least 4 characters)</label>
			<span th:if = "${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></span>
			<br/>
			<input type="password" id="password" th:field="*{password}" placeholder="Enter password" class="form-control"/>
		</div>
		<div>
			<span th:utext="${confirmPasswordMessage}" class="validation-message"></span><br/>
         	<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" />
		</div>
		<div>
			<br/>
			<label for="phone">Phone number</label>
			<br/>
			<input type="text" id="phone" th:field="*{phone}" placeholder="Enter phone number" class="form-control" />
		</div>
		<div>
			<br/>
			<label for="skype">Skype login*</label>
			<span th:if = "${#fields.hasErrors('skype')}" th:errors="*{skype}" class="validation-message"></span>
			<br/>
			<input type="text" id="skype" th:field="*{skype}" placeholder="Enter skype login" class="form-control" />
		</div>
		<br/>
		<input type="submit" value="Send"/>
	</form>
	
		<p th:if="${successMessage} == null">Fields with '*' cannot be empty</p>
		<br/>
	<div>
		<span th:utext="${successMessage}" class="success-message"></span>
		<br/><br/>
	</div>
</body>
<footer>
	<div th:replace="parts/footer :: footer"></div>
</footer>
</html>